body {
  font-family: "Tajawal", sans-serif;
  background-color: #f8f9fa;
  padding-bottom: 70px; /* مساحة لشريط التنقل */
}

/* الهيدر */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.cart .count {
  position: absolute;
  top: -5px;
  left: 15px;
  background: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}
.currency {
  font-weight: bold;
}

/* المنتجات */
.product-card {
  background: #fff;
  border: 1px solid #eee;
  transition: 0.2s;
}
.product-card:hover {
  transform: scale(1.03);
}

/* شريط التنقل السفلي */
.bottom-nav a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}
.bottom-nav a i {
  font-size: 20px;
  display: block;
}￼Enter
